.btn {
	background-color: #17cf97;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	font-size: 16px;
	font-weight: 500;
	height: 50px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin: 0px 10px;
}

.btn:hover,
.btn:focus {
	background-color: #20e4a9;
}

.btn-outline {
	border: 2px solid gray !important;
	color: #17cF97;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	background-color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	font-size: 16px;
	font-weight: 500;
	/* height: 50px; */
	/* line-height: 20px; */
	list-style: none;
	margin: 0;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin: 0px 5px;
}

.btn-outline:hover,
.btn-outline:focus {
	background-color: #29f7b9;
	color: #ffffff;
}
